<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<table class="results">
  <thead>
    <tr>
      <th>Product</th>
      <th>Product_id</th>
      <th>SKU</th>
      <th>Inventory quantity</th>
      <th>Price</th>
      <th>Previously sold</th>
      <th class="align-right">Cost</th>
      <th>Set cost</th>
    </tr>
  </thead>
  <tbody>
    <% @prod.each do |prod| %>
    <tr>
      <td><b><%= prod.title %></b></td>
      <td>total sales = <%= prod.sales %></td>
      <td>id = <%= prod.product_id %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <% prod.product_variants.each do |product|%>
    <tr class="papa">
      <td><a href="#"><%= product.variant_title %></a></td>
      <td class="variant_id"><%= product.variant_id %></td>
      <td><%= product.sku %></td>
      <td><%= product.name %></td>
      <td></td>
      <td><%= product.sales %></td>
      <td class="cost1"><%= product.cost %></td>
      <td class="cost"><input type="text" name="cost" class="new_cost" placeholder="set cost"><button class="set_cost">submit</button></td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

