<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<main>
  <header>
    <h1>Top ten best selling products</h1>
  </header>
  <section>
    <ol>
      <% @prod.each do |prod| %>
      <div class="card">
        <li><span class="tag blue"><%= prod.title %></span> id = <%= prod.product_id %> <span class="tag red">total sales = <%= prod.sales %></b></li>
          <% prod.product_variants.each do |product|%>
          <ul>
            <a href="#"><li><span class="tag green"><%= product.variant_title %></span> | id = <%= product.variant_id %> | sku = <%= product.sku %> |<span class="tag red"> sales = <%= product.sales %></span> | cost = <%= product.cost %> | price = <%= product.price %></a></li>
          </ul>
          <% end %>
      </div>
      <% end %>
    </ol>
  </section>
</main>    