<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<h1>Top ten best selling products</h1>
<ol>
  <% @prod.each do |prod| %>
  <li><b><%= prod.title %></b> id = <%= prod.product_id %> total sales = <%= prod.sales %></li>
    <% prod.product_variants.each do |product|%>
    <ul>
    <a href="#"><li><%= product.variant_title %> | id = <%= product.variant_id %> | sku = <%= product.sku %> | sales = <%= product.sales %> | cost = <%= product.cost %> | price = <%= product.price %></a></li>
    </ul>
    <% end %>
    <% end %>
</ol>
    